version: "3"

services:
  influxdb_v2:
    image: influxdb:{{ influxdb.version }}
    restart: always
    env_file:
      - influxdb.env
    ports:
      - "{{ influxdb.host }}:{{ influxdb.port }}:8086"
    volumes:
      - ./influxdbv2/:/var/lib/influxdb2/
